
// Theme colour --------------------------------------

$col-main: #ffc107; // yellow
$col-dark: #333;	 
$col-light: #ddd;	 

// Background --------------------------------------

$col-page: #fff;		

// Borders --------------------------------------

$col-border: #ccc; 
$col-border-dark: #777;

// Text --------------------------------------

$col-text: #333;
$col-text-light: #aaa;
$col-text-reverse: #fff;